<a href="https://colab.research.google.com/github/Ramenor/pyspark_project/blob/main/2_Creating_an_RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Diferentes formas de crear un RDD

import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

In [17]:
# Crear un RDD vacío

rdd_vacio = sc.emptyRDD

In [22]:
# Crear un RDD con parallelize

rdd_vacio3 = sc.parallelize([], 3)

rdd_vacio3.getNumPartitions()

3

In [23]:
rdd = sc.parallelize([1,2,3,4,5])

rdd.collect()

[1, 2, 3, 4, 5]

In [24]:
# Crear un RDD desde un archivo de texto

rdd_texto = sc.textFile('./rdd_source.txt')

rdd_texto.collect()

['Así podemos crear', 'un RDD desde un', 'archivo de texto!!!']

In [25]:
rdd_texto_completo = sc.wholeTextFiles('./rdd_source.txt')

rdd_texto_completo.collect()

[('file:/content/rdd_source.txt',
  'Así podemos crear\nun RDD desde un\narchivo de texto!!!')]

In [26]:
rdd_suma = rdd.map(lambda x: x +1)

rdd_suma.collect()

[2, 3, 4, 5, 6]

In [27]:
df = spark.createDataFrame([(1, 'jose'), (2, 'juan')], ['id', 'nombre'])

df.show()

+---+------+
| id|nombre|
+---+------+
|  1|  jose|
|  2|  juan|
+---+------+

In [28]:
rdd_df = df.rdd

rdd_df.collect()

[Row(id=1, nombre='jose'), Row(id=2, nombre='juan')]